<div class="wrapper-main">
    <section id="about-view">
        <div class="row front-cols">
            <article class="col-md-4 col-sm-4 animated slideInLeft">
                <h3>Who I'm?</h3>
                <p>Currently a student at Telerik Software Academy. With background in History and Economics I have come through a fierce training in the arts of the JavaScript Ninja. I've fought against the  Browsers and the Five IE darklords to gain the title of a CSS master.</p>
            </article>
			  <article class="col-md-4 col-sm-4 animated slideInDown">
                <h3>What I do?</h3>
                <p>Code, Develop and a little bit of Design. SPA applications, Web sites and Javascript/HTML5 Games. I also have some experience in PHP with the Laravel Framework and the C# language.</p>
            </article>
			  <article class="col-md-4 col-sm-4 animated slideInRight">
                <h3>Why I do it?</h3>
				  <p> I'm passionate about the latest in both front and backend web technologies. I belive JavaScript full stacks like MEAN are the future of web development. To warn you: I'm a linux diehard fan!</p>
            </article>
        </div>
    </section>
</div>