<div class="wrapper-main">
    <section id="contact-view">
        <article>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h3><a href="http://www.github.com/dvmarinoff">GitHub</a></h3>
                    <p><strong>Take a look at my code</strong></p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3><a href="#">dvmarinoff@gmail.com</a></h3>
                    <p><strong>Send me a message</strong></p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3><a href="#">@dvmarinov</a></h3>
                    <p><strong>See you in there</strong></p>
                </div>
            </div>
        </article>
    </section>
</div>