<div class="wrapper-main">
    <section id="projects-view">
        <div class="row">
            <h2>Latest work:</h2>
        </div>
        <div class="row">
            <article class="col-md-6 col-sm-6 project-tile" ng-repeat="project in projects">
                <div class="project-container">
                    <div class="project-img animated rotateIn">
                        
                        <img ng-src="{{project.image}}" alt="" class="img-responsive">
                        <div class="cover"><a href="{{project.url}}">GitHub</a>
                        </div>
                    </div>
						 <div class="project-description animated fadeInUp">
                        <p><span>Name</span>: {{project.name}}</p>
                        <p><span>Technologies</span>: {{project.technologies}}</p>
                        <p><span>Description</span>: {{project.description}}</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>